* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding-bottom: 50px;
}

.form label,
.calculado label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.form input,
.form select,
.calculado input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

button#btnCalc {
    background-color: #09a6da;
    color: white;
    border: none;
}

button#btnLimpiar{
    background-color: #f00;
    color: white;
    border: none;
}

button#btnEnviar{
    background-color: #0f0;
    color: white;
    border: none;
}