body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
 }

 .personasContainer {
    width: 300px;
    height: 300px;
    border: 1px solid black;
 }